GEMINI_API_KEY=your_key
GMAIL_USER=your_key
GOOGLE_CLIENT_ID=your_key
GOOGLE_CLIENT_SECRET=your_key
GOOGLE_REDIRECT_URI=your_key 
# http://localhost:3000/api/auth/callback
NODE_ENV=your_key
PORT=your_key
SESSION_SECRET=your_key
APP_ORIGIN=http://localhost:5173